
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Montserrat:ital,wght@0,300;1,300&family=Noto+Serif&family=Open+Sans&family=Raleway&family=Source+Code+Pro&family=Ysabeau+Office:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    background-color: rgb(78, 64, 64);
    padding: 30px;
    text-decoration: none;
    justify-content: right;
    margin-bottom: 30px;
    position: static;
}
ul li{
    margin: 0px;
    padding: 0px 10px;
    text-transform: uppercase;
    list-style: none;
    color: #ccc;
    justify-content: right;
    
}
#home{
    cursor: pointer;
    color: #ccc;
}
#div{
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    margin-top: 30px;
}

body{
    background: #000000;
background: -webkit-linear-gradient(to right, #434343, #000000);
background: linear-gradient(to right, #434343, #000000);
}

#movie-wrapper{
    font-size: 32px;
}
#product-wrapper{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.movies{
    width: calc(15% - 15px);
    margin: 5px 15px;
    padding: 0%;
    box-shadow: 2px 2px 2px #353535 ,-2px -2px 2px #353535  ;
    background-color: #000000;
    color: whitesmoke;
}
.title-year{
font-size: 16px;
}
#button{
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: white;
}
#search{
    width: 300px;
    height: 36px;
}
#div input{
    position: relative;
    bottom: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #434343;
    color: white;
    border: none;
    border-radius: 12px;
    text-align: center;
}
#div input::placeholder{
    font-size: 12px;
}
#div input[type="search"]{
text-transform: uppercase;
font-size: 12px;
}

 .movies img{
    width: 100%;
    height: 200px;
 }
 .movies p{
    padding: 0px;
    margin: 2px;
 }
 #status{
    font-size: 24px;
 }
 #error{
    margin: 0px auto
 }
 @import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color:  #313942;
  font-family: 'Montserrat', sans-serif;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #e7ebf2;
  font-size: 12.5rem;
  letter-spacing: .10em;
  margin: .025em 0;
  text-shadow: .05em .05em 0 rgba(0,0,0,.25);
  white-space: nowrap;
  
  @media(max-width: 30rem) {
    font-size: 8.5rem;
  }
  
  & > span {
    animation: spooky 2s alternate infinite linear;
    color: #528cce;
    display: inline-block;
  }
}

h2 {
  color:#e7ebf2;
  margin-bottom: .40em;
}

p {
  color: #ccc;
  margin-top: 0;
}

@keyframes spooky {
  from {
    transform: translatey(.15em) scaley(.95);
  }
  
  to {
    transform: translatey(-.15em);
  }
}